html, body{
  margin: 2%;
  padding: 0%;
}
header{
  margin: 0%;
  padding: 0%;
  display: flex;
  align-items: stretch;
  }
main{
  margin: 4%;
  padding: 0%;
  display: inline; 
}
#luxe{
  display: flex;
  position: relative;
  justify-content: center;
  width: 50%;
  
  margin: 10%;
  padding: 0%;
}

#nav{

 
  display: flex;
  position: relative;
justify-content: space-between;

list-style: none;


}

#menu{
list-style: none;
  display: flex;
  position: relative;
  justify-content: space-between;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  padding: 3%;
}
#bouton{
list-style: none;
display: flex;
position: relative;
justify-content: space-between;
flex-wrap: wrap;
width: auto;
height: auto;
padding: 3%;

}

    
button {
    padding      : 5px;
    border       : 2px solid rgb(146, 111, 241);
    background   : none;
    cursor       : pointer;
background-color: rgb(255, 255, 255);}




.piscine{
  float: left;
  margin: auto;
  width: 25%;
}
.paragraph-right{
  display: flex;
  background-color: darkgoldenrod;

    padding: 10px;
  margin-top : 3px;
  justify-content: flex-start;
  flex-direction: column;
}
.bassin{
  padding: 10px;
}




.restau{
  padding: 0%;
  float: right;
  margin: auto;
  width: 25%;
  
}
.paragraph-left{
  display: flex;
  flex-direction: column;
background-color: chartreuse;
    padding: 10px;
  margin-top : 3px;
  justify-content: space-between;
}



.massage{
  float: left;
  margin: 3%;
  width: 25%;
}
.paragraph-gauche{
  display: flex;
  flex-direction: column;

  background-color: coral;

    padding: 10px;
  margin-top : 3px;
  justify-content: space-between;
  align-items: flex-end;
}





footer{
  display: flex;
  align-items: flex-end;
  margin: 30%;
  padding: 0%;
}







#top{

  position: relative;
  width: 50px;
  height: 50px;
  bottom: 40px;
  right: 50px;
justify-content: flex-end;
line-height: 50px;
color: darkslateblue;
font-size: 22px ;


}


article {
position: relative;
  min-height: 100%;
  display: flex;
  align-self: baseline;
 
  
}

footer {
  display: flex;
  justify-content: flex-start;
  padding: 5px;
  
  color: rgb(15, 14, 14);
}

.prive,p, #top{
  display: flex;
  justify-content: space-evenly;
}